/* ---------- blog page styling ---------- */

/* ---------- back button styling ---------- */
#back-btn{
  margin: 0 10px;
  padding: 5px;
  background-color: #4c4947;
  color: #fff4ef;
}

#back-btn.dark{
  background-color: #fff4ef;
  color: #4c4947;
}