/* ---------- main page styling ---------- */
main {
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

/* ---------- Left Side of Page ---------- */
/* blog title with blurred heart image */
#blogName {
  font-size: 3rem;
  margin: 0 115px;
  padding: 0 115px;
  background-image: url(../images/brown-heart.jpeg);
  height: 500px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0 0 50px 50px #fff4ef inset;
}

/*  blurred heart Dark Mode  */
#blogName.dark {
  background-image: url(../images/brown-heart-dark.jpeg);
  box-shadow: 0 0 90px 90px #4c4947 inset;
}

/* ---------- Form/Right Side of Page ---------- */
aside,
.form {
  display: flex;
  flex-direction: column;
  height: 800px;
  width: 50%;
  align-items: center;
  justify-content: center;
  ;
}

.form {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 500px;
}

label {
  padding-top: 30px;
}

input,
textarea {
  width: 100%;
  margin: 5px 0;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 3px;
  min-width: 100px;
}

/* makes content input box bigger */
#content {
  height: 100px;
  margin-bottom: 20px;
  resize: none;
}

/* submit button styling */
#submit {
  width: 100%;
  background-color: #d6bda9;
  min-width: 100px;
}