/* ---------- universal font and page styling  ---------- */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header, main.index, footer{
  display: flex;
  flex-direction: row;
}

/* ---------- h tag styling ---------- */
h1, h2, h3, h4, h5, h6{
  font-family: Garamond, serif;
}

/* ---------- body tag font and styling ---------- */
body{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.25rem;
  color: black;
  background-color: #fff4ef;
}

/* removes decoration from links and sets to black */
a, span{
  text-decoration: none;
  color: black;
  font-weight: 100;
}

/* ---------- Header ---------- */
header{
  top: 0;
  width: 100%;
  height: 5rem;
  background-color: #d6bda9;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

h1{
  font-size: 3.5rem;
  flex-grow: 1;
}

/* ---------- Dark mode ---------- */
.switch{
  font-size: 3rem;
  padding-left: 5px;
  cursor: pointer;
}

header.dark, footer.dark, a.dark, span.dark{
  background-color: #403832;
  color: #fff4ef;
}

.dark{
  background-color: #4c4947;
  color: #fff4ef;
}

/* ---------- Footer ---------- */
footer{
  bottom: 0;
  width: 100%;
  height: 5rem;
  background-color: #d6bda9;
  justify-content: space-between;
  align-items: flex-end;
  padding: 3px 10px;
  line-height: 1.5rem;
  position: fixed;
}
.footer{
  font-weight: 600;
}

footer p{
  flex-grow: .6;
}